.App {
    //background: #000;
    background: var(--seconday-bg-color);
    color: #fff;
    min-height: 100vh;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

.w-100 {
    width: 100%;
}

.button {
    display: inline-flex;
    padding: 10px 20px;
    &.bg-black {
        background-color: rgba(#000, 0.1);
    }
    &.br-white {
        border: solid 1px #fff;
    }
}
