.App {
    //background: #000;
    background: var(--seconday-bg-color);
    color: #fff;
    min-height: 100vh;
}

.bold {
    font-weight: 700;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

.w-100 {
    width: 100%;
}

.rounded {
    border-radius: 50%;
}

.button {
    display: inline-flex;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    &.bg-black {
        background-color: rgba(#000, 0.1);
    }
    &.br-white {
        border: solid 1px #fff;
    }
    &:after {
        background-color: #fff;
        content: '';
        height: 150%;
        left: -10px;
        opacity: 0.2;
        position: absolute;
        transform: rotate(-10deg);
        transition: top 0.1s linear;
        top: -170%;
        width: 120%;
    }
    &:hover:after {
        top: -10px
    }
}

.text-input {
    background-color: var(--seconday-bg-color);
    border: none;
    border-bottom: solid 1px #fff;
    color: #fff;
    font-size: 1.2rem;
    max-width: 250px;
    padding: 15px 0;
    width: 100%;
    &:focus {
        outline: none;
    }
}

::placeholder {
    color: #fff;
}
